.form-container {
    display: flex;
    flex-direction: column;
    gap: 15px; /* Adjust the gap as needed */
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

    .form-group label {
        margin-right: 10px;
        width: 100px;
    }

.textbox-style {

    height: 30px;
    width: 200px !important;
    border: 1px solid #ddd;
    border-radius: 5px;
    padding: 5px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.1);
    font-size: 14px;
}

/* Add this style to your existing CSS */
.form-control-no-box {
    background: none;
    border: none;
    padding: 0;
}
