
@{
    ViewBag.Title = "Profile";
    Layout = "~/Views/Shared/_StaffLayout.cshtml";
}

<!-- inner banner -->
<section class="inner-banner py-5">
    <div class="w3l-breadcrumb py-lg-5">
        <div class="container pt-4 pb-sm-4">
            <h4 class="inner-text-title pt-5">Profile</h4>
            <ul class="breadcrumbs-custom-path">
                <li><a href="/Home/Index">Home</a></li>
                <li class="active"><i class="fas fa-angle-right"></i>Profile</li>
            </ul>
        </div>
    </div>
</section>
<!-- //inner banner -->
<!-- Content block -->
<section class="w3l-servicesblock py-5 mb-lg-5" id="about">
    <div class="container py-md-5 py-4">
        <div class="title-main text-center mx-auto mb-md-5 mb-4" style="max-width:500px;">
            <p class="text-uppercase">About Me</p>
            <h3 class="title-style">My Profile</h3>
        </div>
        <div class="row pb-xl-5 align-items-center">
            <div class="col-lg-3 col-6 text-center">
                <a>
                    <img src="~/images/profile.jpg" class="arrow-png img-responsive" />
                    <h4>Staff</h4>
                </a>
            </div>
            <div class="col-xl-5 col-lg-6 offset-xl-1 mt-lg-0 mt-5 pt-lg-0 pt-5">
                <ul class="mt-4 list-style-lis pt-lg-1" style="font-size: large">
                    <li>
                        <i class="fas fa-address-card"></i>
                        <strong>Name: </strong> Crizel H. Estorba
                    </li>
                    <li>
                        <i class="fas fa-calendar-day"></i>
                        <strong>Birthdate: </strong> January 25, 2003
                    </li>
                    <li>
                        <i class="fas fa-phone"></i>
                        <strong>Contact number: </strong> 09754851258
                    </li>
                    <li>
                        <i class="fas fa-map-marked"></i>
                        <strong>Address: </strong> California, 10001, 5th Avenue, #06 lane street, NY - 62617.
                    </li>
                    <li>
                        <i class="fas fa-envelope"></i>
                        <strong>Email address: </strong> crizel.estorba@gmail.com
                    </li>
                    <li>
                        <i class="fas fa-user"></i>
                        <strong>Username: </strong> _dntbthrme
                    </li>
                </ul>
            </div>
        </div>
    </div>
</section>

<!-- Content block -->
